#timeline {
  font-family: 'open-sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  img {
    max-width: 100%;
  }
}

.tns-outer {
  background-image: url('~@/assets/timeline-bg.jpg');
  background-size: cover;
  @include bp($medium) {
    background-size: contain;
  }
}

.tns-controls {
  position: absolute;
}

.slide {
  @include font-smoothing;
  position: relative;
  height: 100vh;
  display: flex;
  max-height: 780px;
  overflow: hidden;

  @include bp($medium) {
    height: auto;
    height: 48.75vw;
  }

  &:after {
    content: attr(data-timeline-year);
    display: block;
    position: absolute;
    opacity: .05;
    top: 0;
    right: 0;
    transform: rotate(90deg);
    transform-origin: bottom;
    line-height: 1;
    font-size: rem(42px);

    @include bp($small) {
      font-size: rem(180px);
      right: -2.75rem;
    }

    @include bp($medium) {
      font-size: rem(160px);
      right: -2.5rem;
    }

    @include bp($large) {
      font-size: rem(220px);
      right: -3.5rem;
    }

    @include bp($xlarge) {
      font-size: rem(350px);
      right: -5rem;
    }
  }

  &__container {
    max-width: rem(1600px);
    margin: 0 auto;
    display: flex;
  }
}

.governor {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;

  @include bp($small) {
    flex-flow: row;
    justify-content: center;
    align-content: center;
  }

  // layout
  &__info {
    padding: 0 rem(16px) rem(16px) rem(80px);

    @include bp($small) {
      text-align: right;
      width: 40%;
      padding: 0 1rem;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }

    @include bp($medium) {
      padding: 0 #{(62px /1600px) * 100%} 0 2rem;
    }

    @include bp($xlarge) {
      width: rem(400px);
      padding: 0 #{(62px /1600px) * 100%} 0 2rem;
    }

    @include bp($xlarge) {
      // width: #{(400px / 1600px) * 100%};
      padding: 0 #{(62px /1600px) * 100%} 0 2rem;
    }
  }

  &__other {
    position: relative;
    z-index: 1;
    display: flex;
    order: -1;

    @include bp($small) {
      order: 0;
      width: 60%;
    }

    @include bp($medium) {
      width: #{(930px / 1600px) * 100%};
      order: 0;
    }
  }

  // elements
  &__bio {
    font-size: rem(12px);

    @include bp($large) {
      font-size: rem(16px);
    }
  }

  &__note {
    font-size: rem(12px);
  }

  &__year {
    display: block;
    font-weight: 200;
    color: $orange;
    margin: 0;
    font-size: rem(32px);

    @include bp($small) {
      // margin-top: rem(16px);
    }

    @include bp($medium) {
      // margin-top: rem(48px);
      font-size: rem(36px);
    }

    @include bp($large) {
      font-size: rem(72px);
    }

    @include bp($xlarge) {
      font-size: rem(120px);
    }

    @include bp($xxlarge) {
      font-size: rem(150px);
    }
  }

  &__years {
    // width: #{(130px / 1600px) * 100%};
    width: rem(60px);
    border-left: 5px solid $purple;
    position: absolute;
    top: 0;
    bottom: 0;
    flex: 0 0 auto;

    @include bp($small) {
      width: rem(65px);
      position: relative;
    }

    @include bp($large) {
      width: rem(88px);
      position: relative;
    }

    &__list {
      cursor: ns-resize;
      list-style: none;
      padding: 1rem 0 3rem;
      margin: 0;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      height: 100%;

      @include bp($small) {
        padding: 1rem 0 2.5rem;
      }

      @include bp($medium) {
        padding: 1rem 0 3.5rem;
      }

      li {
        color: #9E708B;
        opacity: .29;
        font-size: rem(18px);
        font-weight: 100;
        text-align: center;
        display: block;

        @include bp($large) {
          font-size: rem(30px);
        }

        &:nth-child(4) {
          font-weight: 700;
          position: relative;
          text-indent: -9999px;
          opacity: 1;

          &:before {
            content: '';
            width: 100%;
            height: 5px;
            background: $purple;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }

          &:after {
            content: '';
            width: 15px;
            height: 15px;
            background: $purple;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
      }
    }
  }

  &__name {
    margin: 0;
    color: #000;

    @include bp($medium) {
      font-size: rem(34px);
    }
  }

  &__media {
    padding: rem(16px) rem(24px) 0 rem(82px);

    @include bp($small) {
      padding: rem(16px) rem(24px) 0 rem(24px);
      display: flex;
      flex-flow: column;
      justify-content: center;
    }

    @include bp($large) {
      padding-left: 2rem;
    }

    img {
      max-height: rem(600px);
    }
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      font-size: rem(12px);
      color: $teal;
      font-weight: 700;
      display: block;
      margin: 0 auto .5rem;

      @include bp($large) {
        font-size: rem(16px);
      }
    }
  }
}

.decades {
  position: relative;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, .7);

  &:before,
  &:after {
    content: '';
    height: 100%;
    width: 1rem;
    display: block;
    position: absolute;
    top: 0;
  }

  &:before {
    left: 0;
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 45%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 45%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 45%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
  }

  &:after {
    right: 0;
    background: -moz-linear-gradient(right, rgba(255,255,255,1) 45%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(right, rgba(255,255,255,1) 45%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to left, rgba(255,255,255,1) 45%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: auto;
    max-width: $xlarge;

    li {
      display: block;
      padding: .5rem 1.25rem;
      cursor: pointer;
      font-size: rem(14px);

      @include bp($medium) {
        font-size: rem(18px);
      }

      &.active {
        color: $orange;
      }
    }
  }
}
